<div  [style]="{'margin-left': '.5em'}" id="card">
        <p-card header={{job.name}} subheader="" [style]="{width: '360px' , height:'480px'}"styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="{{job.name}}" src="{{job.imagePath}}" style="height: 140px; width: 140px;">
            </ng-template>
            <p>{{job.description}}</p>
            <p-divider></p-divider>
            <p>{{job.description}}</p>
            
            <ng-template pTemplate="footer">
              <!-- <p-button label="Save" icon="pi pi-check" ></p-button>
              <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> -->
              <button pButton pRipple type="button" [routerLink]="[index]"
              routerLinkActive="active" label="Specifications" class="p-button-text p-button-plain"></button>
          </ng-template>
        </p-card>
    </div>

