
<div  style="margin: 80px;">
    <h1>Dashboard</h1>
  
<div class="grid" style="margin-top: 120px;">
   
    <div class="col hover">
        <p-card header="employee"  routerLink="/employee" subheader="" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://thumbs.dreamstime.com/b/employee-icon-vector-male-group-persons-symbol-avatar-business-management-team-flat-color-glyph-pictogram-employee-icon-123838531.jpg">
            </ng-template>
        </p-card>
    </div>  

     <div class="col">
        <p-card header="canteen" subheader="" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAKgdH7l2t0pFdxCxNsZ1H2736i37nESiORg&usqp=CAU">
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="review" subheader="" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://thumbs.dreamstime.com/b/review-icon-vector-line-research-symbol-isolated-trendy-flat-outline-ui-sign-design-thin-linear-review-graphic-pictogram-web-118107338.jpg">
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="club" subheader=""  styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://cdn-icons-png.flaticon.com/512/79/79500.png">
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="git" subheader=""  styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://git-scm.com/images/logos/logomark-black@2x.png">
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="payslip" subheader=""  styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://static.thenounproject.com/png/719070-200.png">
            </ng-template>
        </p-card>
    </div>
    <div class="col hover">
        <p-card header="jobs"   routerLink="/jobs" subheader=""styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://cdn-icons-png.flaticon.com/512/65/65053.png">
            </ng-template>
        </p-card>
    </div>
 </div>   